<?xml version="1.0" encoding="UTF-8"?>

<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd">

<suite name="CrossBrowserTest" parallel="methods" thread-count="2" verbose="1">


	
	<test name="chromeTest">

<!-- 			<parameter name="browser" value="firefox" /> -->

		<classes>

			<class name="com.blogspot.qa.Test.UrlTest"/>

		</classes>

	</test>
		
</suite>